@model EmployeeDirectory.DataLayer.Employee
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Date Hired: @Model.DateHired.ToString("MM/dd/yyyy")</li>
    <li>Currently Employed: @(Model.Employed ? "Yes" : "No")</li>
</ul>

