@model IEnumerable<EmployeeDirectory.ViewModels.EmpViewModel>

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 mx-auto">
            <h2>Employee Directory</h2>

            @if (Model.Any())
            {
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date Hired</th>
                            <th class="w-1"></th>

                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var e in Model)
                        {
                            <tr>
                                <td>@e.Name</td>
                                <td>@e.HiredDate</td>
                                <td class="w-1">@Html.ActionLink("View","Details","Employee", new {id = @e.Id}, new {@class = "btn btn-outline-primary btn-sm"})</td>
                                
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <p>No Employees</p>
            }
        </div>
    </div>
</div>













